* {
    background: url('https://raw.githubusercontent.com/Nomaakip/swag.freakybob.site/refs/heads/main/images/rainy-sunset-city-stockcake.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
}
.container {
    height:95vh;
    width: 95vm;
    background: none;
    display: flex;
}



.activities {
    text-align:center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    background: none;
    margin-left: 45%;
    animation: pop-in .6s ease-out forwards;
}
.play {
display: block;
height: 20px;
width: 300px;
padding: 20px 0px 20px 10px;
border-radius: 30px;
margin-top: 20px;
margin-left: 5px;
background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#1bffce",GradientType=1);
background-size: 300%;
background-position: left;
text-align: center;
font-family: Helvetica;
font-size: 22px;
color: mintcream;
text-decoration: none;
transition: background-position 2s ease-in-out;
transition: all 2s ease-out;
animation: pop-in 0.6s ease-out forwards;
position: absolute;
box-shadow: 0 8px 32px 0 rgba(27,255,206,1);
}

.play2 {
    display: block;
height: 20px;
width: 300px;
padding: 20px 0px 20px 10px;
border-radius: 30px;
margin-left: 5px;
background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(27,255,206,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#1bffce",GradientType=1);
background-size: 300%;
background-position: left;
text-align: center;
font-family: Helvetica;
font-size: 22px;
color: mintcream;
text-decoration: none;
transition: background-position 2s ease-in-out;
transition: all 2s ease-out;
animation: pop-in 0.6s ease-out forwards;
position: absolute;
box-shadow: 0 8px 32px 0 rgba(27,255,206,1);
}

.play:hover {
    background-position: right;
}

.play2:hover {
    background-position: right;
}

.swag {
    height:220px;
    width:330px;
    margin-top: 200px;
    margin-left: -37%;
    background: none;
    background: linear-gradient(135deg, rgba(255,255,255,0.1)rgba(255,255,255,0)) ;
    border: 1px solid rgba(255,255,2555,0.18);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,37);
    border-radius: 15px;
    padding:30px;
    animation:pop-in 0.5s ease;
    transition:
    transform .4s ease,
    box-shadow .4s ease;
}
.swag2 {
    height:220px;
    width:330px;
    margin-top: 200px;
    margin-left: 2%;
    background: none;
    background: linear-gradient(135deg, rgba(255,255,255,0.1)rgba(255,255,255,0)) ;
    border: 1px solid rgba(255,255,2555,0.18);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,37);
    border-radius: 15px;
    padding:30px;
    animation:pop-in 0.5s ease;
    transition:
    transform .4s ease,
    box-shadow .4s ease;
}



.username {
    background: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    margin-left: 10px;
}

.username2 {
    margin-top: 15px;
    background: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    margin-left: 10px;
}

.usr {
    display: flex;
}

.about {
    background:none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 10px;

}

@keyframes pop-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }